$primary-dark-color: black;
$primary-light-color: white;
$second-color: #81d4fa;

$down-color: #42a5f5;
$up-color: #ef5350;
$grey-color: #e0e0e0;
$grey-darker-color: #757575;

$container-width: 750px;

* {
  //transition: all .3s;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {

}

label,
input[type="number"],
.section > span,
.subsection > span {
  float: left;
  width: 70%;
  height: 31px;
  font-size: 1.3em;
  line-height: 1.5;
}

//input[type="button"] {
//  float: left;
//  width: 50%;
//  background-color: transparent;
//  font-size: 1.2em;
//  border: 1px solid black;
//  border-left-width: 0;
//  line-height: 1.2;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//
//  &:hover {
//    background-color: $grey-color;
//  }
//  &:active {
//    background-color: $grey-darker-color;
//  }
//  transition: unset;
//
//}
//
//.button-group :first-child {
//  border-left-width: 1px;
//}

label {
  $border-left-width: 0.2em;
  padding-left: 1.5em - $border-left-width;
  border-left: transparent solid $border-left-width;
  margin-bottom: 2px;

  display: block;
  position: relative;
}

label > span {
  position: absolute;
  left: 70%;
}


strong {
  font-weight: normal;
}


.current {
  border-color: black;
}

.show-dep {


  .affects {
    border-color: black;
  }

  .affected {
    border-color: $down-color;
  }

  .current, .affects, .affected {
    strong {
      font-weight: 700;
    }
  }
}


input[type="number"],
.section > span,
.subsection > span {
  text-align: right;
  padding: 0 0 0 1em;
  width: 30%;
}

.delta {
  position: absolute;
  left: $container-width + 1px;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2em;
  line-height: 1.5;
  text-align: left;
}

.hide {
  display: none;
}


.tooltip::after {
  content: " *";
}

.tooltip.tooltip-link::after {
  content: " ^";

}

.tooltip.tooltip-link:hover::after {
  color: $primary-dark-color;
  content: "";
}

.tooltip-link a {
  display: none;
}

.tooltip-link:hover a {
  display: inline;
  text-decoration: none;
  color: $primary-dark-color;
  &::before {
    content: " ";
  }

  &:visited {
    color: $primary-dark-color;
  }
  &:hover {
    background-color: $grey-color;
    color: $primary-dark-color;
  }
}

.tooltip::before {
  content: attr(data-tip);

  font-size: 10px;
  position: absolute;
  z-index: 999;
  white-space: nowrap;
  right: calc(100% + 10px);
  top: 10%;

  background: #000;
  color: #e0e0e0;
  padding: 0px 7px;
  line-height: 24px;
  height: 24px;

  opacity: 0;
  //transition: opacity 0.4s ease-out;
}

.tooltip:hover::before {
  opacity: 1;
  bottom: -35px;
}

.delta-inc {
  color: $up-color;
}

.delta-dec {
  color: $down-color;
}

label.dirty::before {
  content: "";
  position: absolute;
  margin-left: -0.8em;
  line-height: 1.8em;
}

.section {
  margin-bottom: 3em;
}

.subsection {
  margin-bottom: 2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

input[type="number"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  //text-decoration: underline;

  //margin-top: 10px;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  margin-bottom: 0.4em;
  margin-top: 1em;
  //text-decoration: underline;
}

input[type="number"]:focus {
  //outline: $primary-dark-color auto 5px;
  //color: $primary-dark-color;
  //border-bottom: 1px solid $primary-dark-color;
  box-shadow: 0 1px 0 0 $primary-dark-color;
  outline: 0;
  outline-offset: 0;
}

input[type="number"],
span {
  font-family: 'Roboto Mono', monospace;
}

.unit-gb:after {
  content: " GB";
}

.unit-dollar:after {
  content: " USD"
}

.container {

  width: $container-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

br {
  clear: both;
}

